In [2]:
import numpy as np

In [3]:
#risposta alla domanda numero 1 del compito:
np.__version__

'1.21.5'

In [4]:
import pandas as pd

In [13]:
df = pd.read_csv('data.csv', header=0)

In [14]:
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [15]:
#risposta alla domanda numero 2 del compito:
#Question 2: Number of records in the dataset
df.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

In [32]:
#risposta alla domanda numero 4 del compito
#Question 4: Number of unique Audi car models 
df = pd.read_csv('data.csv', header=0)
dfilter= df[df['Make']=='Audi']
dfilter.Model.nunique()

34

In [33]:
#risposta alla domanda numero 5
#Question 5: Number of columns with missing values *
df = pd.read_csv('data.csv', header=0)
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [34]:
#risposta alla domanda numero 3
#Question 3: The most popular car manufacturers *
df = pd.read_csv('data.csv', header=0)
df.Make.value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

In [50]:
#risposta alla domanda numero 6
#Question 6: Does the median value change after filling missing values?

#Find the median value of "Engine Cylinders" column in the dataset.
df = pd.read_csv('data.csv', header=0)
initial_median = df['Engine Cylinders'].median()

#initial_median

#Next, calculate the most frequent value of the same "Engine Cylinders".
the_mode = df['Engine Cylinders'].mode()

#the_mode

#Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
df_filled =  df.fillna(the_mode)

#Now, calculate the median value of "Engine Cylinders" once again.
final_median = df_filled['Engine Cylinders'].median()

final_median

6.0

In [64]:
#risposta alla domanda numero 7
#Question 7: What's the value of the first element of w?

df = pd.read_csv('data.csv', header=0)
#Select all the "Lotus" cars from the dataset.
dfilter= df[df['Make']=='Lotus']
#Select only columns "Engine HP", "Engine Cylinders".
dselect = dfilter[['Engine HP','Engine Cylinders']]
#Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
ddrop = dselect.drop_duplicates()
#Get the underlying NumPy array. Let's call it X.
X = ddrop.values
#Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

XT = X.transpose()

XTX = XT.dot(X)
#Compute the inverse of XTX.
inv_XTX = np.linalg.inv(XTX)

#Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
r1 = inv_XTX.dot(XT)
w = r1.dot(y)

w

array([  4.59494481, -63.56432501])